.promotion-form__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #888;
  margin-right: 20px;
  margin: 0 40px;
}
.promotion-form__title2 {
  color: #888;
}

.promotion-form__group {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.promotion-form__group label {
  margin-bottom: 5px;
  margin-top: 5px;
  font-style: 14px;
  color: #555555;
  font-weight: 600;
  margin:8px 20px;
}
.promotion-form__group input {
  border: 1px solid #aaaaaa;
  border-radius: 8px;
  background-color: #fff;
  height: 36px;
  padding: 0 10px;
  margin-bottom: 15px;
  width: 78%;
  margin: 0 20px;


}


.button {
  background-color: rgb(0, 140, 221);
  color: #fff;
  width: 25%;
  height: 35px;
  border-radius: 8px;
  margin: 0 40px;
}
.button:hover {
  background-color: #03fc4e;/*#2eaf14 e #2eaf */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s;
}
